
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@500&family=Rock+3D&family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@500&family=Rock+3D&family=Vujahday+Script&family=Waterfall&display=swap');

*,
*::before ,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-family: 'Poppins', sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    outline:none;
    border:none;
}

ul,
li{
    list-style:none;
    margin: 0;
    padding: 0;
    color: white;
}

/*HEADER START*/
section,
span,
p{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

.header{
    background-image: url(fon4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.container{
    max-width: 1170;
    margin: 0;
    padding: 0;
}

.header-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 40px 0 ;
}

.header-logo{
    margin-left: 30px;
    font-size: 16px;
    letter-spacing: 2px;
    border-bottom: 5px solid white;
    border-radius: 40px;
    padding-bottom: 5px;
    color: white;
}

ul{
    display: flex;
}

li{
    margin-left: 30px;
    margin-right: 30px;
}

a{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.header-test{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%);
    color: white;
}
h1{
    font-size: 8.5rem;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Vujahday Script', cursive;
  
}

.first-letter{
    font-family: 'Vujahday Script', cursive;
  
}
h3{
    font-family: 'Waterfall', cursive;
    font-size: 2.5rem;
    
}
/* HEADER FINISHED */
/* ABOUT START */

.about{
    margin-bottom: 250px;
}

.about-tittle{
    margin: 60px 0px;
}

.about-tittle h2{
    width: 100%;
    text-align: center;
    margin-top:0 auto;
    color: yellowgreen;
    font-size: 30px;
    font-weight: 600;

}

.about-tittle h2::after{
    content:"";
    width: 50px;
    height: 3px;
    background-color: yellowgreen;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.about-img{
    margin-left: 35px;
    object-fit: cover;
}
 
.about-content{
    display: flex;
    text-align: center;
    justify-content: space-around;

}

.about-text{
    width: 50%;
    margin-top:  120px; 
    color: black;
   
}
/* ABOUT FINISHED */
/* PORTFOLIO START */

.portfolio{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 100px;
}

.portfolio-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
    
}

.portfolio-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
 
.overlay{
    width: 100%;
    height: 100%;
    background-color: coral;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0.8;
    color: #fff;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}
 
.portfolio-item:hover .overlay{
    top: 0;
}

.portfolio-item:hover img{
    transform: scale(1.1);
}
/* PORTFOLIO FINISHED */
/* CONTACT START */

.contact{
    padding: 10px 0;
    margin-top: 100px
}

.contact h2{
    width: 100%;
    text-align: center;
    margin-top:0 auto;
    color: yellowgreen;
    font-size: 30px;
    font-weight: 600;
}

.contact h2::after{
    content:"";
    width: 50px;
    height: 3px;
    background-color: yellowgreen;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
 .contact-item{
     display: flex;
     align-items: center;
     flex-basis: 33%;
     margin-bottom: 100px;
     flex-direction:column;
 }

 /*.contact-item i */
 .contact-item img{
     margin-bottom: 15px;

 }


 .contact-item p{
     font-size: 15px;
     line-height: 25px;
 }

 /* CONTACT FINISHED*/
 /* FOOTER START */

 .footer{
     background-color: rgb(212, 190, 157);
 }

 .footer-item a{
    font-size: 15px;
    line-height: 25px;
    align-items: center;
 }
 /*FOOTER FINISHED */

